.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainLayout {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: #ababab;
}

.title_text {
  color: #90caf9;
  font-size: 2rem;
  font-weight: bold;
}
.manageLayout {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.manageSideMenu {
  flex-grow: 0;
  padding-top: 15%;
}
.manageSidePaper {
  height: auto;
}
.manageComponent {
  flex-grow: 1;
  padding-top: 7%;
}

.footerLayout {
  background-color: #222;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #90caf9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header dropdown remove */
.dropdown-toggle::after {
  display: none !important;
}

.formControl {
  padding: 15px;
  min-width: 320px;
}